rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bookProposals/{proposalId} {
      allow read: if request.auth != null;
      allow create: if true;
    }
  }
}
